_site/*
_theme_packages/*

Thumbs.db
.DS_Store

*.bak

!.gitkeep

.rbenv-version
.rvmrc

*.swp
.sass-cache/*
.jekyll-metadata
*.sublime-project
*.sublime-workspace

# exclude backups & drafts
# _backups/*
# _drafts/*

*.sh